body
{
background-image: url("ContactUs.jpg");

}
.map
{

text-align: center;
}

.fr
{
    text-align: right;

}

#Contenaire{
    text-align: justify;
    display: flex;
    justify-content: space-around;
    
}
div section{
    width: 500px;
    margin-bottom: 100px;
}